<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TV Shows - Edit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
    integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
    integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <a href="../shows">Go Back</a>
    <div class="container">
        <div class="row text-center mb-3">
            <h1 class="mb-3 me-3">Add a New Show</h1>
            <div class="col">
                <form action="/add_show" method="POST">
                    {% csrf_token %}
                    <div class="mb-e me-3 text-center">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="title" class="form-control input-index mx-auto" required />
                    </div>
                    <div class="row text-center">
                        <div class="col mb-3 text-center">
                            <label for="network" class="form-label">Network</label>
                            <select id="network_id" type="text" name="network_id" class="form-control input-index mx-auto" required>
                                {% for network in networks %}
                                    <option value="{{network.id}}">{{network.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col mb-3 me-3 text-center">
                            <label for="date" class="form-label">Release date:</label>
                            <input type="date" name="release_date" class="text-center form-control input-index mx-auto" value="2000-03-07" required />
                        </div>
                    </div>
                    <div class="mb-3 me-3 text-center">
                        <label for="desc" class="form-label">Description (10 characters at least):</label>
                        <textarea type="text" class="form-control" name="desc" id="desc" rows="3"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="shadow btn btn-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            {% for message in messages %}
                toastr.{{ message.tags }} ('{{ message }}');
            {% endfor %}
        </script>
    </div>
</body>
</html>
